{
  "extends": ["airbnb"],
  "parser": "babel-eslint",
  "rules": {
    "implicit-arrow-linebreak":"off" ,
    "react/jsx-one-expression-per-line":"off",
    "max-len":"off",
    "object-curly-newline":"off",
    "arrow-parens":"off"
  }
}
