{
  "useTabs": false,
  "printWidth": 100,
  "tabWidth": 2,
  "singleQuote": true,

  "arrowParens": "avoid",

  "--jsx-bracket-same-line":true,

  "trailingComma": "all",

  "parser": "babylon",

  "noSemi": true,

  "rcVerbose": true
}
